<h3>Let's greet some people.</h3>
<div>
    <button (click)="clear(); showGreetings()">show greetings</button>
    <button (click)="clear()">clear</button>
    <span *ngIf="greeting">
        <div *ngIf="headers">
            Response headers:
            <ul>
                <li *ngFor="let header of headers">{{header}}</li>
            </ul>
        </div>
    </span>
</div>
<p *ngIf="error" class="error">{{error | json}}</p>
