<h1>PoC Router</h1>

<nav>
    <!-- routerLink binds the router to the html link anchor -->
    <!-- routerLinkActive assigns CSS classes to the element -->
    <a routerLink="/page-one" routerLinkActive="active">Page One</a>
    <a routerLink="/page-two" routerLinkActive="active">Page Two</a>
</nav>
<!-- this is where the SPA components get rendered depending on the path -->
<router-outlet></router-outlet>
