<!doctype html>
<html data-ng-app>
   <head>
      <title>PoC Data Binding</title>
   </head>
   <body>
      PoC Data Binding: <input type="text" ng-model="mysource" />
      <br/>
      {{ mysource }}
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
   </body>
</html>
