<!doctype html>
<html data-ng-app>
   <head>
      <title>PoC Directives</title>
   </head>
   <body data-ng-init="stuff='text'">
      <ul>
      <li>DOM Manipulation
         <ul>
         <li>ng-hide
         <div data-ng-hide="hideme">
            Stuff: <input type="text" data-ng-model="stuff" /> {{ stuff }}
         </div>
         Hide: <input type="checkbox" data-ng-model="hideme.name" />
         <li>ng-repeat
         <div data-ng-init="items=[{name:'Foo'},{name:'Bar'},{name:'Baz'},{name:'Junk'},{name:'DOH'}]">
            filter: <input type="text" data-ng-model="filterme">
            <ul>
            <li data-ng-repeat="item in items | filter:filterme | orderBy:'name'">repeat {{ item.name | lowercase }}</li>
            </ul>
         </div>
         <li>ng-show
         <li>ng-view
         <li>ng-switch
         <div data-ng-init="cfg={toggle:true}">
            <div data-ng-switch on="cfg.toggle">
               <div data-ng-switch-when="true">
                  Part 1
               </div>
               <div data-ng-switch-default>
                  Part 2
               </div>
            </div>
         </div>
         </ul>
      <li>Modules/Controllers
         <ul>
         <li>ng-app
         <li>ng-controller
         </ul>
      <li>Data Binding
         <ul>
         <li>ng-bind
         <div>
            <span data-ng-bind="stuff"></span>
         </div>
         <li>ng-init
         <li>ng-model
         <li>math: 1 + 4 = {{ 1 + 4 }}
         </ul>
      <li>Events
         <ul>
         <li>ng-click
         <div>
            <button data-ng-click="stuff='different text'">Change Stuff</button>
         </div>
         <li>ng-keypress
         <li>ng-mouseenter
         </ul>
      </ul>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
   </body>
</html>
