<!doctype html>
<html data-ng-app="charactersApp">
   <head>
      <title>PoC Controllers</title>
   </head>
   <body data-ng-controller="charactersController">
      filter: <input type="text" data-ng-model="filterme">
      <table>
      <tr><th>Character</th><th>Action</th></tr>
      <tr data-ng-repeat="character in characters | filter:filterme">
         <td>{{ character.name }}</td>
         <td>{{ character.what }}</td>
      </tr>
      </table>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
      <script src="charactersController.js"></script>
   </body>
</html>
